.header {
  text-align: center;
}

.listItem {
  background-color: #861f41;
  max-width: 80%;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid black;
  color: #ffffff;
}

.orderHandle {
  margin-left: 15px;
}

.button {
  display: inline-flex;
  margin-top: 10px;
}

.main {
  font-family: 'Montserrat', Helvetica, Arial, 'sans-serif';
}

.dateTotal {
  text-align: left;
  display: inline-flex;
  margin-bottom: 15px;
  font-weight: bold;
}

.orders {
  margin-top: 75px;
}
