.header {
  text-align: center;
}

.listItem {
  background-color: #ffffff;
  max-width: 80%;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid;
  border-color: #757575;
}

.orderHandle {
  margin-left: 15px;
}

.button {
  display: inline-flex;
  margin-top: 10px;
}

.main {
  margin-top: 50px;
  font-family: 'Montserrat', Helvetica, Arial, 'sans-serif';
}

.dateTotal {
  text-align: left;
  display: inline-flex;
  margin-bottom: 15px;
}
