.view-cart {
  position: fixed;
  bottom: 2rem;
  right: 1%;
  z-index: 1000;
  /* margin: 1em; */
}

.product-list-title {
  margin-top: 5%;
}

/* .swal-title {
  font-size: 12px;
} */

/* .swal-icon {
  width: 30px;
  height: 30px;
} */
