.total {
  text-align: right;
<<<<<<< HEAD
  margin-right: 20px;
}

.customerInfo {
  margin-left: 20px;
  line-height: 150%;
  margin-bottom: 50px;
=======
  margin-right: 150px;
  font-weight: 575;
  font-size: large;
}

.customerInfo {
  margin-left: 150px;
  line-height: 150%;
  margin-bottom: 40px;
  margin-top: 75px;
>>>>>>> bf30a906deea237b5a31ea7842d09f34009d9785
}

.date {
  display: inline;
  float: right;
<<<<<<< HEAD
  margin-right: 20px;
=======
  margin-right: 150px;
>>>>>>> bf30a906deea237b5a31ea7842d09f34009d9785
}

.header {
  text-align: center;
<<<<<<< HEAD
=======
  color: #757575;
>>>>>>> bf30a906deea237b5a31ea7842d09f34009d9785
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderTable {
<<<<<<< HEAD
  width: 80%;
  border-collapse: collapse;
=======
  width: 80%; /* Set table width */
  border-collapse: collapse; /* Collapse table borders */
>>>>>>> bf30a906deea237b5a31ea7842d09f34009d9785
}

.orderTable th,
.orderTable td {
<<<<<<< HEAD
  padding: 20px;
  text-align: center;
}

.orderTable th {
  border-top: none;
=======
  padding: 15px; /* Add padding to table cells */
  text-align: center; /* Center text in table cells */
}

.orderTable th {
  border-top: none; /* Remove top border from table header */
}

.main {
  background-color: #ffffff;
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif';
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../../Montserrat-VariableFont_wght.ttf')
      format('truetype'),
    url('../../../Montserrat-Italic-VariableFont_wght.ttf')
      format('truetype');
}

.summaryHeader {
  font-size: large;
  font-weight: 590;
>>>>>>> bf30a906deea237b5a31ea7842d09f34009d9785
}
